---
layout: default
---

<div class="hero">
  <div class="hero-content">
    <h1>{{ site.title }}</h1>
    <p class="tagline">Building the Future of Digital Identity</p>
    <p class="description">Decentralized Identity | Privacy </p>
    <div class="cta-buttons">
      <a href="{{ site.baseurl }}/about" class="button primary">About Me</a>
    </div>
    <div class="cta-buttons">
      <a href="{{ site.baseurl }}/publications" class="button primary">Publications</a>
    </div>
  </div>
</div>

<section id="about" class="section">
  <div class="container">
    <div class="about-content">
      <div class="about-text">
        <p>I build digital identity systems that empower individuals and expand access to opportunity. As Executive Director of the <a href="https://identity.foundation">Decentralized Identity Foundation</a>, I lead a global community creating the technical foundations for human-centered digital interactions. My work spans decentralized identity for people and AI agents, privacy-preserving technologies, and verifiable credentials – building systems that focus onindividual rights and ecosystem needs.
          
          <div class="about-highlights">
          <h3>Current Role</h3>
          <p>Executive Director, Decentralized Identity Foundation</p>
          
          <h3>Recent Activities</h3>
          <ul>
            <li>Participated in Project Glitch Panel Focused on Digital Identity and Privacy. [<a href="https://www.youtube.com/watch?v=qdAiOU_7hr0">Watch</a>][<a href="https://www.projectglitch.xyz/p/how-the-us-could-sleepwalk-into-a">Read</a>] 
              </li>
              <li>
                <a href="https://github.com/decentralized-identity/zkp-self-attestations/blob/main/trust_models/general_trust_model.md">ZKP Self-Attestations Trust Model</a> 
              </li>
          </ul>
        </div>
        
      </div>
    </div>
  </div>
</section>
